/* custom css classes */

html {
  padding: 0;
  margin: 0;
}
.bg-lightGrey{
  background-color:#f7f8f9;
}

.min-vh-80{
  min-height: 90vh;
}

.camera-align {
  width: 1.3rem;
  height: 1.3rem;
}

.camera-align img {
  height: 100%;
  width: 100%;
}

.label-main {
  color : #6c25ff;
  background-color: #f7f8f9;
  position: relative;
  top: 1.3rem;
  left: 1rem;
   
} 

.label-main::after {
    content: "*";
    color: red;
  }


 .btnEnabled {
  background-color: #6c25ff !important;
  color: white !important;
  cursor: pointer !important;
 } 

 .btnDisabled {
  background-color: #cbcbcb !important;
  cursor: no-drop !important;
  color: white !important;
  pointer-events: none !important;
 }

/* .buttons{
   height: 2.5rem !important;
   background-color: #cbcbcb !important; 
   cursor:no-drop;
   &:hover{
    background-color: #6c25ff !important;
   }
} */
